/* I am the least experienced with organizing CSS styles so this file is currently a mess :) */
@font-face {
    font-family: "HomeVideo";
    src: url("../assets/fonts/HomeVideo-BLG6G.ttf");
}

@font-face {
    font-family: "HomeVideoBold";
    src: url("../assets/fonts/HomeVideoBold-R90Dv.ttf");
}

html,
body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #0e0e0e;
    width: 100%;
    height: 100%;
}

a {
    margin: 0;
    padding: 0;
    width: 100%;
    width: 100vw;
    font-family: "HomeVideo";
    font-size: 3vmin;
    text-align: center;
    position: fixed;
}

a:link {
    color: #0827f5;
}

a:visited {
    color: #f5be07;
}

nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 9999;
}

.nav-mobile {
    bottom: 5vmin;
}

button {
    margin: 0;
    padding: 2vmin;
    font-family: "HomeVideo";
    background: none;
    border: none;
    font-size: 4vmin;
    text-align: center;
}

.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.app {
    opacity: 0;
    transition: opacity 0.2s cubic-bezier(0, 0.55, 0.45, 1);
}

.pointer {
    cursor: pointer;
}

.route {
    color: #404040;
    transition:
        color 0.3s,
        text-shadow 0.8s;
}

.route-mobile {
    font-size: 8vmin;
}

.route:hover {
    color: #ffc000;
    text-shadow: 0 0 16px #ffc000;
}

.route-active {
    color: #faa000;
    transition:
        color 0.3s,
        text-shadow 0.8s;
}

.route-active:hover {
    color: #faa000;
    text-shadow: 0 0 16px #faa000;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.main-paragraph {
    margin: 0;
    padding: 0;
    width: 100%;
    width: 100vw;
    font-family: "HomeVideoBold";
    color: #fafafa;
    font-size: 5vmin;
    text-align: center;
    position: relative;
}

.main-paragraph-mobile {
    font-size: 7vmin;
}
